PORT=8000
DATABASE_URL=postgresql://YOUR_USERNAME@localhost:5432/stocklift
JWT_SECRET=your_super_secret_jwt_key_change_this_later
JWT_REFRESH_SECRET=your_refresh_secret_change_this_later
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_id
UPSTASH_REDIS_URL=rediss://default:PASSWORD@HOST.upstash.io:6379